@charset "UTF-8";

/*
    em HTML é id        = em CSS é # (só pode um elemento)
    em HTML é class     = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(221, 241, 191);
}

h1 {
    color: rgb(87, 139, 3);
}

h1#principal {
    color: white;
    text-align: center;
    background-color: rgb(87, 139, 3);
}

h2 {
    color: rgb(131, 199, 22);
}

.basico {
    color: blue;
    font-weight: bold;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

p {
    text-align: justify;
    text-indent: 3em;
}

.destaque {
    background-color: rgb(207, 246, 139);
}